{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'notes/styles.css' %}">
        <title>
            {% block title %}
                Sticky notes
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <h1>
                {% block header %}
                    Sticky notes
                {% endblock header %}
            </h1>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <p>&copy; 2025 Sticky Notes App</p>
        </footer>
    </body>
</html>